.blog-preview {
	width: 30vw;
}
.blog-intro {
	font-weight: 800;
	font-size: 2.4rem;
	margin: 24px;
}
.blog-title {
	// margin-top: 47px;

	// font-family: $sans;
	font-style: none;
	font-weight: 200;
}

.grid {
	width: 100vw;

	display: inline-block;
	position: relative;
}
.grid-item {
	border-radius: 8px;
	margin: 10px;

	h3 {
		margin: 3px;
	}
	display: inline-block;
}
