.container {
	width: 600%;
	height: 100%;
	display: flex;
	flex-wrap: no-wrap;
}

.panel {
	will-change: transform;
}

.red {
	background-color: red;
	height: 100vh;
	width: 100vw;
	padding: 50px;
}

.orange {
	background-color: orange;
	height: 100vh;
	width: 100vw;
	padding: 50px;
}
